{{!-- Can we use template literals for `${INPUT}' < whatever button was selected on index.handlebars ' --}}
{{!-- I think we will need a handlebars for clients and providers, we will see. --}}

<style media="screen">
  li {
    background-color: wheat;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
  }
</style>

<nav class="navbar navbar-default">
  <div class="float-start">
    <img src="/assets/ProviderPortal_HB.jpg" id="navbar-logo" />
  </div>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navLinks navbar-brand" href="/members">
        Home
      </a>
      <a class="navbar-brand" id="viewPro" href="/api/providers">
        View All Providers
      </a>
      <a class="navbar-brand" id="logout" href="/logout"> Logout </a>
    </div>
  </div>
</nav>

<h1>All Clients</h1>

<div class="allClient row">
  {{#each Clients}}
    <div class="card col-sm-4 col-sm-offset-1" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title" data-id={{id}}>{{first_name}} {{last_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{Provider.first_name}} {{Provider.last_name}}</h6>
            <p class="card-text">
                Insurance: {{insurance}} <br/>
                Email: {{email}}<br />
                Phone Number: {{phone}}<br />
            </p>
        </div>
    </div>
  {{/each}}
</div>

<footer>
  <hr id="footer-break" />
  <div id="footer" class="text-center">
    <img src="assets/PP logo.jpg" id="footer-img" />
    <p id="footer-text">Created for practitioners by practitioners</p>
  </div>
</footer>

<script src="/js/all.js"></script>