{{!-- Can we use template literals for `${INPUT}' < whatever button was selected on index.handlebars ' --}}
{{!-- I think we will need a handlebars for clients and providers, we will see. --}}

<style media="screen">
  li {
    background-color: wheat;
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    font-family: sans-serif;
  }
</style>

<h1>All Cients</h1>

<ul>
  {{#each Clients}}
    <li>
      <p>Name: {{first_name}} {{last_name}}</p>
      <p>Email: {{email}}</p>
      <p>Phone: {{phone}}</p>
      <p>Insurance: {{insurance}}</p>
    <p>Provider: {{Provider.first_name}} {{Provider.last_name}}</p>
    </li>
  {{/each}}
</ul>