{{!-- This will render ALL provider data and have a form at the top
for adding new provider(s) --}}

<nav class="navbar navbar-default">
    <div class="float-start">
        <img src="/assets/ProviderPortal_HB.jpg" id="navbar-logo" />
    </div>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navLinks navbar-brand" href="/members">
                Home
            </a>
            <a class="navbar-brand" id="viewClients" href="/api/clients">
                View All Clients
            </a>
            <a class="navbar-brand" id="logout" href="/logout"> Logout </a>
        </div>
    </div>
</nav>



<h1>All Providers</h1>

<div class="allProvider row">
    {{#each Providers}}
    <div class="card col-sm-4 col-sm-offset-1" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title" data-id={{id}}>{{first_name}} {{last_name}}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{practice}}</h6>
            <p class="card-text">
                Company: {{company}} <br />
                Email: {{email}}<br />
                Phone Number: {{phone}}<br />
            </p>
        </div>
    </div>
    {{/each}}
</div>

<footer>
    <hr id="footer-break" />
    <div id="footer" class="text-center">
        <img src="assets/PP logo.jpg" id="footer-img" />
        <p id="footer-text">Created for practitioners by practitioners</p>
    </div>
</footer>

{{!--
<script src="/js/all.js"></script> --}}