{{!-- This will render ALL provider data --}}

<h1>Providers</h1>

<ul>
    {{#each Providers}}
    <li>
        <p>Name: {{providers.first_name}} {{last_name}}</p>
        <p>Email: {{email}}</p>
        <p>Phone: {{phone}}</p>
        <p>Company: {{company}}</p>
        <p>Practice: {{practice}}</p>

    </li>
    {{/each}}
</ul>