{{!-- This will render ALL provider data and have a form at the top
for adding new provider(s) --}}

<h1>All Providers</h1>

<div class="row">
    {{#each Providers}}
    <div class="card col-sm-4 col-sm-offset-1" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title"><a href="#" class="card-link">{{first_name}} {{last_name}}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{practice}}</h6>
            <p class="card-text">
                Company: {{company}} <br />
                Email: {{email}}<br />
                Phone Number: {{phone}}<br />
            </p>
        </div>
    </div>
    {{/each}}
</div>